Missing at least one TOA (${TOA}) at your Test Fixture class (${tf}).

Reasons: You haven't yet annotated your Test Fixture class.


Step 1) Annotate ${tf} with your TOA (${TOA}).

$snippetBegin
	@${TOA}(name=DTON /* TODO: Add more attributes */)
	private static class ${tf} {

	    @${TOA}(name=DTON /* TODO: Add more attributes */)
	    void namedTest() {}
	}
$snippetEnd


Step 2) Compile and rerun ${tc}.


======== end of description =========